* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("assets/bg-dark.png") no-repeat center center;
  animation: slide 10s linear alternate-reverse infinite;
}

@keyframes slide {
  100% {
    background-position: right bottom;
  }
}

.container {
  background: rgba(57, 49, 165, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(41px);
  padding: 2rem;
  border-radius: 10px;
  max-width: 584px;
  width: 100%;
  max-height: 622px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
  img {
    width: 304px;
    height: 48px;
  }
}

.official-site {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 253px;
  max-height: 44px;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.08);
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: background-color 0.5s;
  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.315);
    border-top: 1px solid rgba(255, 255, 255, 0.315);
  }
}
.social {
  color: #fff;
  margin: 24px 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.social-button {
  width: 203px;
  height: 52px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.05);
  padding: 0.8rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 14px;
  transition: all 0.5s ease;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.social-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.315);
  border-top: 1px solid rgba(255, 255, 255, 0.315);
}

.social-icon {
  width: 25px;
  height: 25px;
}
.phone-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

@media (320px <= width <= 768px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 1rem;
  }
  .container {
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    height: fit-content;
  }
  .logo {
    img {
      width: 182px;
      height: 34px;
    }
  }
  .official-site {
    max-width: 153px;
    max-height: 32px;
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .social-links {
    gap: 1rem;
  }
  .social-button {
    width: 153px;
    height: 42px;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .social-icon {
    width: 2rem;
    height: 2rem;
  }
}
